@import url(http://fonts.googleapis.com/css?family=Merriweather);
 
html, body {
   
  font-family: 'Merriweather', sans-serif;
}

a{
  text-decoration:  none !important;
  color: black;
}

.auname{
	font-size: 15px;
	font-weight: bold;
	font-family: georgia ;
	font-style: italic;
}